@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
	font-weight: 100;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
	font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
*
{
	outline: none;
	text-decoration: none;
	font-family: "Roboto";
}
html, body
{
	margin: 0;
}
.shadow-l1 {
    box-shadow: 0 1px 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.15)
}
.shadow-l2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.2);
}
.shadow-l3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-l4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-l5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.app-toolbar
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	width: 100%;
	background-color: #f44336;
	z-index: 4;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}
.app-toolbar.detail
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	width: 100%;
	background-color: #f44336;
	z-index: 4;
}
.app-toolbar-placeholder
{
	height: 60px;
    width: 100%;
}
.app-body
{
	height: 100vh;
}
.app-content-container
{
    padding: 15px 10px 5px;
	height: calc(100% - 80px);
	overflow-y: scroll;
}
.app-index-card
{
	position: relative;
	height: 110px;
	margin-bottom: 10px;
	border-radius: 2px;
}
.app-index-card.multi-image .card-description
{
	padding: 15px;
}
.app-index-card .card-description .card-title
{
	color: #454545;
	position: relative;
	font-size: 15px;
	line-height: 18px;
	max-height: 54px;
	-webkit-line-clamp : 3;
	font-weight: bold;
	display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;
	overflow           : hidden;
	text-overflow      : ellipsis;
	padding            : 0 !important;
}
.app-index-card .card-description .card-title:after
{
	content    : '...';
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 25%;
	display    : block;
	position   : absolute;
	height     : 18px;
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
	.app-index-card .card-description .card-title:after
	{
		display : none !important;
	}
}
.app-index-card .card-image
{
	position: absolute;
	top: 0;
	right: 0;
	height: 110px;
	width: 110px;
}
.app-index-card.multi-image 
{
	height: auto;
}
.app-index-card.multi-image .card-image
{
	position: relative;
	top: 0;
	right: 0;
	height: auto;
	width: auto;
	padding: 0 15px 45px;
}
.app-index-card .card-image img
{
	height: 100%;
	border-radius: 0 2px 2px 0
}
.app-index-card.multi-image .card-image img
{
	height: auto;
	margin-right: 10px;
	border-radius: 0;
	width: calc((100% - 20px) / 3)
}
.app-index-card.multi-image .card-image img:nth-child(3)
{
	margin-right: 0
}
.app-index-card .card-description
{
	padding: 15px 125px 15px 15px;
}
.app-index-card .card-description .card-note
{
	position: absolute;
	bottom: 15px;
	left: 15px;
}
.app-index-card .card-description .card-author, .app-index-card .card-description .card-published
{
	position: relative;
	font-size: 11px;
	color: #bcbcbc;
}
.app-index-card .card-description .card-published
{
	padding-left: 20px;
}
.app-index-card .card-description .card-published:after
{
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	height: 11px;
	width: 11px;
	background: url(../images/time-icon.svg) no-repeat;
	background-size: 11px 11px;
	opacity: 0.3;
}
.app-index-card .card-link
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}
.app-index-card .card-link.active .ripple
{
	width: 450px;
	height: 450px;
	position: absolute;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.44);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: ripple 500ms linear 1;
	animation: ripple 500ms linear 1;
}
@-webkit-keyframes ripple
{
	0% {
		transform: scale(0);
		opacity: 0;
	}
	66.6% {
		opacity: 0.74
	}
	100% {
		transform: scale(1);
		opacity: 0
	}
}
@keyframes ripple
{
	0% {
		transform: scale(0);
		opacity: 0;
	}
	66.6% {
		opacity: 0.74
	}
	100% {
		transform: scale(1);
		opacity: 0
	}
}
.app-loader
{
	margin: 15px auto 30px;
	height: 45px;
	width: 45px;
	background-color: #f44336;
	border-radius: 50%;
}
.app-load
{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/refresh-icon.svg) center center no-repeat;
    background-size: 25px 25px;
    -webkit-animation: refresh 1.2s linear infinite;
    animation: refresh 1.2s linear infinite;
}
@-webkit-keyframes refresh
{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes refresh
{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.app-detail-container
{
	height: 100%;
	overflow-y: scroll;
}
.app-detail-body
{
	padding: 15px 15px 5px 15px;
	color: #454545;
	font-size: 15px;
	line-height: 26px;
	font-weight: 500;
}
.app-detail-body h2
{
    margin-top: 0px;
    font-size: 21px;
    font-weight: bold;
    color: #252525;
    line-height: 32px;
}
.app-detail-body h3
{
    margin-top: 0px;
    font-size: 19px;
    font-weight: bold;
    color: #252525;
    line-height: 28px;
}
.app-detail-body img
{
	width: 100%;
}
.app-detail-body a, .app-detail-body a:hover, .app-detail-body a:active, .app-detail-body a:visited
{
	color: #008efa;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.app-detail-body a:active
{
	text-decoration: underline;
}
.app-detail-header
{
	width: 100%;
	height: auto;
}
.app-detail-header .header-image
{
	position: relative;
	border-bottom: 5px solid #b71c1c;
}
.app-detail-header .header-image img
{
	display: block;
	max-width: 100%;
}
.app-detail-header .header-image .header-author, .app-detail-header .header-image .header-published
{
	position: absolute;
	bottom: 15px;
	font-size: 12px;
	color: #fff;
	font-weight: 100;
	text-shadow: 1px 1px 3px #3e3e3e
}
.app-detail-header .header-image .header-author
{
	left: 15px;
}
.app-detail-header .header-image .header-published
{
	right: 15px;
}
.app-detail-header .header-title
{
	background: #37474f;
	padding: 15px;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-shadow: 1px 1px 3px #3e3e3e
}
.app-detail-body .share-container
{
	display: inline-block;
	list-style: none;
	padding: 0;
	width: 100%;
	height: 25px;
	margin: 0;
}
.app-detail-body .share-container li, .app-detail-body .share-container li a
{
	width: 50px;
	height: 25px;
	display: inline-block;
	border-radius: 2px;
}
.app-detail-body .share-container li
{
	margin-right: calc((100% - 300px) / 5)
}
.app-detail-body .share-container li:last-child
{
	margin: 0;
}
.app-detail-body .share-container li a
{
	background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}
.app-detail-body .share-container li.wa-share 
{
    background-color: #43d854;
}
.app-detail-body .share-container li.wa-share a
{
	background-image: url(../images/wa-icon.svg);
}
.app-detail-body .share-container li.bbm-share 
{
    background-color: #373737;
}
.app-detail-body .share-container li.bbm-share a
{
	-webkit-mask-image: url(../images/bbm-icon.svg);
	mask-image: url(../images/bbm-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-repeat: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.app-detail-body .share-container li.line-share 
{
    background-color: #00c300;
}
.app-detail-body .share-container li.line-share a
{
	background-image: url(../images/line-icon.png);
	background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.app-detail-body .share-container li.fb-share
{
	background-color: #3b5998;
}
.app-detail-body .share-container li.fb-share a
{
	-webkit-mask-image: url(../images/fb-icon.svg);
	mask-image: url(../images/fb-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-repeat: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.app-detail-body .share-container li.link-share
{
	background-color: #c30053;
}
.app-detail-body .share-container li.link-share a
{
	-webkit-mask-image: url(../images/link-icon.svg);
	mask-image: url(../images/link-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-repeat: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.app-detail-body .share-container li.more-share
{
	background-color: #8c8c8c;
}
.app-detail-body .share-container li.more-share a
{
	-webkit-mask-image: url(../images/more-icon.svg);
	mask-image: url(../images/more-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-repeat: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.userpanel-header
{
	height: 120px;
	background: url('https://cdn.pixabay.com/photo/2016/06/17/06/04/background-1462755_1280.jpg'); /* IE6-9 fallback on horizontal gradient */
}
.searchpanel-header
{
	height: 60px;
	background-color: #fff;
}
.app-header
{
	width: 100%;
	height: 60px;
}
.app-header .app-toggle-userpanel
{
	width: 100%;
	height: 60px;
	text-decoration: none;
}
.app-header .header-description
{
	color: #fff;
	line-height: 60px;
	font-size: 20px;
	font-weight: 500;
	padding-left: 60px;
	padding-right: 20px;
	display: inline-block;
}
.app-header .header-description:after
{
	content: "";
	position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
}
.app-header .header-description.index:after
{
    background: url(../images/menu-icon.svg) center center no-repeat;
    background-size: 24px 24px;
}
.app-header .header-description.back:after
{
	-webkit-mask-image: url(../images/arrow-back-icon.svg);
	mask-image: url(../images/arrow-back-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-repeat: center center;
    background: #fff;
}
.app-header .header-search
{
	height: 60px;
	width: 60px;
	position: absolute;
	right: 0;
	top: 0;
}
.app-header .header-search:after
{
	content: "";
	position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    background: url(../images/search-icon.svg) center center no-repeat;
    background-size: 24px 24px;
}
.app-panel .searchpanel 
{
	position: relative;
}
.app-panel .searchpanel .header-back
{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
    background: url(../images/arrow-back-icon.svg) center center no-repeat;
    opacity: 0.5;
}
.app-panel .searchpanel .header-voice
{
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
    background: url(../images/mic-icon.svg) center center no-repeat;
    opacity: 0.5;
}
.app-panel .searchpanel .searchbar
{
	width: calc(100% - 120px);
	margin-left: 60px;
	height: 60px;
	border: 0;
	padding: 0;
	font-size: 18px;
}
.app-panel .userpanel-header .jalantikus-logo
{
	height: 64px;
	position: absolute;
	left: 25px;
	top: 25px;
}
.app-panel .userpanel-header .jalantikus-name
{
	display: inline-block;
	color: #fff;
	vertical-align: top;
	padding-left: 20px;
	margin-top: 10px;
}
.app-panel .userpanel-header .jalantikus-title
{
	font-size: 20px;
    text-shadow: 0px 0px 0px;
    line-height: 32px
}
.app-panel .userpanel-header .jalantikus-subtitle
{
	font-size: 14px;
	font-weight: 100;
    color: #ffcfcf;
	text-shadow: 0px 0px 0px;
}
.app-panel .userpanel-body .usermenu-top
{
	margin-top: 10px;
	border-bottom: 1px solid #eeeeee; 
}
.app-panel .userpanel-body .usermenu-item .usermenu-item-detail
{
    height: 15px;
    padding: 15px 15px 15px 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.app-panel .userpanel-body .usermenu-item.active .usermenu-item-detail
{
	background-color: #eeeeee; 
	color: #b71c1c;
}
.usermenu-item .usermenu-item-detail:after
{
	content: "";
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #767676; 
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
	-webkit-mask-position: center center;
	mask-repeat: center center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.usermenu-item.active .usermenu-item-detail:after
{
	background-color: #b71c1c; 
}
.usermenu-item .usermenu-item-detail.home:after
{
	-webkit-mask-image: url(../images/home-icon.svg);
	mask-image: url(../images/home-icon.svg);
}
.usermenu-item .usermenu-item-detail.hot:after
{
	-webkit-mask-image: url(../images/hot-icon.svg);
	mask-image: url(../images/hot-icon.svg);
}
.usermenu-item .usermenu-item-detail.hack:after
{
	-webkit-mask-image: url(../images/hack-icon.svg);
	mask-image: url(../images/hack-icon.svg);
}
.usermenu-item .usermenu-item-detail.game:after
{
	-webkit-mask-image: url(../images/game-icon.svg);
	mask-image: url(../images/game-icon.svg);
}
.usermenu-item .usermenu-item-detail.share:after
{
	-webkit-mask-image: url(../images/share-icon.svg);
	mask-image: url(../images/share-icon.svg);
}
.usermenu-item .usermenu-item-detail.rate:after
{
	-webkit-mask-image: url(../images/rate-icon.svg);
	mask-image: url(../images/rate-icon.svg);
}
.ui-panel-open ~ .app-body
{
	height: 100vh;
	overflow: hidden;;
}