# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:

    runs-on: ubuntu-latest


    steps:

      - uses: actions/checkout@v2
      - name: Git Config Email
        run: |
          git config --global user.email "abdulmuttaqin456@gmail.com"
          git config --global user.name "fdciabdul"

        - name: name
            uses: peaceiris/actions-gh-pages@v3
              with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./public
